<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
    <nav>
        <div class="navWide">
          <div class="wideDiv">
            <a href="/">HOMEPAGE</a>
            <a href="/profile">PROFILE</a>
            <a href="/community">COMMUNITY</a>
             {{#unless logged_in}}
            <a href="/login">LOGIN</a>
            {{/unless}}
            {{#if logged_in}}
            <a href="/" id="logout" type="submit">Log Out</a>
            {{/if}}
          </div>
        </div>
      </nav>
</header>

    {{{body}}}

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>