<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
      <nav class="nav main-nav">
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/community">COMMUNITY</a></li>
                <li><a href="/login">LOGIN</a></li>
                {{#if logged_in}}
                <li><a href="/" class="nav-links">Log Out</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>