<div class="header community">
        {{#if reviews.length}}
        <h1>The Flick Tracker Community<br></h1>
      </div>
        <div class="bulks">
          <div class="card text-center 12 shrek">
            {{#each review as |review|}}
              <div class="card-body communityBody">
                <h4 style="text-align:left;">
                  {{review.name}}
                    <span style="float:right;">
                      {{review.date_created}}
                    </span>
                </h4>
                  <p class="card-text heyo">{{review.content}} - {{review.user_id}}</p>
                    <div class="btn-group jesse" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary saveToWatchlist">Save To Watchlist</button>
                      <button type="button" class="btn btn-outline-primary alreadyWatched">Already Watched</button>
                </div>
              </div>
          </div>
      {{/each}}
      </div>