<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <img class="bg" src="./assets/images/movietheatre.png" alt="">
  <div class="col size-div-left size">
    <div class="card mb-4 rounded-3 shadow-sm corners">
      <div class="card-header py-3 head-col">
        <h4 class="my-0 fw-normal">Community</h4>
      </div>
      <div class="card-body content-div">
        <div class="box">
            <img src="./images/film-review.png">
            </div>
        <ul class="list-unstyled mt-3 mb-4">
          <li>View all reviews!</li>
          <li>Add movies to watch later!</li>
        </ul>
        <a href="/community"><button type="button" class="w-100 btn btn-lg btn-outline-primary body-div">View the Community</button></a>
      </div>
    </div>
  </div>
  <div class="col size">
    <div class="card mb-4 rounded-3 shadow-sm corners">
      <div class="card-header py-3 head-col">
        <h4 class="my-0 fw-normal">My Profile</h4>
      </div>
      <div class="card-body content-div">
        <div class="box">
            <img src="./images/reduser.png">
        </div>
        <ul class="list-unstyled mt-3 mb-4">
          <li>See your reviews!</li>
          <li>Create new reviews!</li>
        </ul>
        <a href="/profile"><button type="button" class="w-100 btn btn-lg btn-outline-primary body-div">View Profile</button></a>
      </div>
    </div>
  </div>
  <div class="col size-div-right size">
    <div class="card mb-4 rounded-3 shadow-sm corners">
      <div class="card-header py-3 head-col">
        <h4 class="my-0 fw-normal">Login/Sign-Up</h4>
      </div>
      <div class="card-body content-div">
        <div class="box">
            <img src="./images/password.png">
            </div>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Create new account!</li>
          <li>Login here!</li>
        </ul>
        <a href="/login"><button type="button" class="w-100 btn btn-lg btn-outline-primary body-div">Login/Sign-up</button></a>
      </div>
    </div>
  </div>
</div>