<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Community</h4>
          </div>
          <div class="card-body">
            <p>PHOTO WILL GO HERE</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>View all reviews!</li>
              <li>Add movies to watch later!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">GO HERE *add link*</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">My Profile</h4>
          </div>
          <div class="card-body">
            <p>PHOTO WILL GO HERE</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>See your reviews!</li>
              <li>Create new reviews!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">GO HERE *add link*</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Login/Sign-Up</h4>
          </div>
          <div class="card-body">
            <p>PHOTO WILL GO HERE</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>Select where to go!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">GO HERE *add link*</button>
          </div>
        </div>
      </div>
    </div>