<div class="smaller">
<div class="login-box-1 login-box">
    <h2>Login</h2>
    <form id="login-form">
      <div class="user-box">
        <input type="text" name="" required="" id="username-login">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" id="password-login">
        <label>Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
</div>
<div class="smaller">
  <div class="login-box-2 login-box">
    <h2>Sign-Up</h2>
    <form id="signup-form">
      <div class="user-box">
        <input type="text" name="" required="" id="username-signup">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" id="password-signup">
        <label>Password</label>
      </div>
      <button type="submit" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
  </div>

  <script src="./javascript/login.js"></script>