{{!-- <div class="reviewpg">
  <div class="revpgcontainer-1">
    <div class="row align-items-start">
      <div class="col">
        <div class="movie-box">
          {{!-- <div class="card mb-3">
            <div id="new-movie">
              <div class="form-group">
                <label for="movie-title"></label>
                <input id="movie-title" name="movie-title" class="form-control" />
              </div>
              <div class="form-group">
                <button type="click">Search Movie</button>
              </div>
            </div>
          </div> --}}
        </div>
      </div>
    </div>
  </div>
</div> --}}
<div class="card mb-3 movie-s-div">
  <div id="new-movie">
    <div class="movie-search">
      <div class="form-group">
        <label for="movie-title"></label>
        <input id="movie-title" name="movie-title" class="form-control" />
      </div>
      <div class="form-group">
        <button type="click" class="button-c-f">Search Movie</button>
      </div>
    </div>

    <div id="movie-container" class="all">
    </div>
  </div>
  <div class="reviewpg review-box-m">
    <div class="movie-box">
      <form class="new-review">
        <div class="form-group">
          <label for="review-name" class="label-color">Movie Name:</label>
          <input class="form-input-d" type="text" id="review-name" name="review-name" />
        </div>
        <div class="form-group">
          <label for="review-content" class="label-color">Review Content:</label>
          <textarea class="form-input-d" id="review-content" name="review-content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit">Create Review</button>
        </div>
      </form>
    </div>
  </div>
  <script src="./javascript/review.js"></script>