<div class="reviewpg">
  <div class="revpgcontainer-1">
    <div class="row align-items-start">
      <div class="col">
        <div class="movie-box">
          <div class="card mb-3">
            <div>
              <label for="movie-title"></label>
              <input id="movie-title" name="movie-title">
              <button id="new-movie" >Search Movie</button>
            </div>
            {{!-- <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
                {{movie poster}}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{movie.title}}
                  </h5>
                  <p class="card-text">Ratings:
                    {{movie.rating}}
                  </p>
                  <p class="card-text">Genre:
                    {{movie.genre}}
                  </p>
                  
                 <div class="btn-group jesse" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary saveToWatchlist" id="#already-watched">Save To Watchlist</button>
        <button type="button" class="btn btn-outline-primary alreadyWatched" id="#watch-later">Already Watched</button>
      </div>
                </div>
              </div>
            </div> --}}
<div>
    <form class="new-review">
      <div class="form-group">
        <label for="review-name">Movie Name:</label>
        <input
          class="form-input-d"
          type="text"
          id="review-name"
          name="review-name"
        />
      </div>
      <div class="form-group">
        <label for="review-content">Review Content:</label>
        <textarea
          class="form-input-d"
          id="review-content"
          name="review-content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Review</button>
      </div>
    </form>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./javascript/review.js"></script>